
Data/application_train.csv
*.csv
*.jpg
Data/example.mat
Data/example.npy
*.txt
*.json
Data/example.pkl
Data/Part02/house_train.csv.gz
Data/Part01/example.mat
Data/Part01/example.npy
Data/Part01/example.pkl
Data/Part02/house_test.csv.gz
